*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    width: 100%;
    height: 100%; 
    background-image: url('https://media.istockphoto.com/id/1301369235/vector/blue-luminous-lines-and-highlights-on-black-carbon-fiber-techno-background-dark-carbon-fiber.jpg?s=612x612&w=0&k=20&c=wGSrjX-KCENzXuhH4wsfhi9qn_l9R8xTccl1kmWIK2M=');
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}    
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
}
 nav ul{
    flex: 1;
    text-align: right;
    padding-right: 0px;
 }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: rgb(238, 231, 231);
    text-decoration: none;
}
.text-box{
    color: rgb(235, 226, 226);
    position: absolute;
    top: 700%;
    left: 10%;
}
 .text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(164, 214, 24);
    
}
.text-box h3{
    font-size: 40px;
    font-weight: 500px;
}  
.text-box .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.text-box a{
    color: #e0c4c4;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid rgb(192, 187, 187);
    ;
}

.social-icons{
    position: absolute;
    right: 5%;
    bottom: -1350%;
}

.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}

/* ABOUT ME PAGE */

h5{
    position: relative;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw rgb(247, 230, 230);
}
.raj-img img{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 525px;
    top: 60px;
}
